<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pr.QAmapper">
	<resultMap type="com.pr.dto.QADto" id="QADto">
		<result column="QA_SEQ" property="qa_seq"/>
		<result column="QA_WRITER" property="qa_writer"/>
		<result column="QA_TITLE" property="qa_title"/>
		<result column="QA_CONTENT" property="qa_content"/>
		<result column="QA_REGDATE" property="qa_regdate"/>
		<result column="QA_ENABLED" property="qa_enabled"/>
		<result column="QA_NO" property="qa_no"/>
	</resultMap>
	
	<select id="selectAll" resultMap="QADto">
		SELECT * FROM QA_BOARD ORDER BY QA_SEQ DESC
	</select>
	
	<insert id="insert" parameterType="QADto">
		INSERT INTO QA_BOARD VALUES(QA_BOARDSQ.NEXTVAL, #{qa_writer}, #{qa_title}, #{qa_content}, SYSDATE, 'y', #{qa_no})
	</insert>
	
	<select id="selectOneQA" resultMap="QADto">
		SELECT * FROM QA_BOARD WHERE QA_SEQ = #{qa_seq }
	</select>
	<select id="delete" resultMap="QADto">
		DELETE QA_BOARD WHERE QA_SEQ=#{qa_seq}
	</select>
	<select id="search" resultMap="QADto">
		SELECT * FROM QA_BOARD WHERE QA_WRITER=#{qa_writer}
	</select>
	
</mapper>
